body {
    background-color: hsl(0, 0%, 8%);
    min-height: 375px;
    max-width: 1440px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    font-size: 14px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 85%;
    padding: 10px;
    margin: 5px;
    border-width: 0pt;

    transition: padding 0.3s ease-out 0.3s, color 0.3s ease-out 0.3s;
}

button:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    padding: 13px;
    transition: 1s;
}

.origin {
    color: hsl(75, 94%, 57%);
}

button, .name, .work {
    color: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    justify-content: center; /* Centers the form horizontally */
    align-items: center;     /* Centers the form vertically */
    height: 95vh;           /* Ensures the container fills the screen height */
    margin: 0;
}

form {
    /* Optional: Add some styling to make the form visible and readable */
    width: 300px; /* Set a specific width */
    padding: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 12%);
    text-align: center; /* Centers text, buttons, and inline elements */
}

img {
    border-radius: 50%;
    max-width: 100px;
    padding: 5% 0 5% 0;
}

.name {
    font-weight: 700;
    font-size: 170%;
    padding: 0%;
    margin: 0%;
}